.content {
  padding-bottom: 45px;

  h1, h3 {
    font-family: "Times New Roman", Times, serif;
  }

  h1 {
    font-size: 31px;
  }

  h3 {
    color: #6f6f6f;
    font-size: 25px;
    margin-top: 10px;
  }
}
